POSTGRES_DB=patients_db
POSTGRES_USER=patients_user
POSTGRES_PASSWORD=patients_pass

MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=your_mailtrap_username
MAIL_PASSWORD=your_mailtrap_password
MAIL_FROM=noreply@patients.dev
